body {
  background-color: #222;
}
a:visited {
  color: #222;
}
mark {
  color: #222;
  background: #f7941e;
}
li {
  color: rgba(255, 255, 255, 1);
}
img {
  width: 100%;
}
.container {
  width: 88%;
  color: white;
  /* background-color: aliceblue; */
  margin: 0 auto;
  border: 1px solid #f7941e;
  padding: 40px;
  border-radius: 20px;
  margin: 60px;
}
#contentWrapper {
  max-width: 430px;

  margin: 0 auto;
}
p {
  font-size: 20px;
  font-weight: 700;
}
b {
  color: #f7941e;
}
h3 {
  text-align: center;
}
.noDot {
  list-style: none;
}
